<!DOCTYPE html>
</html>
<head>
    <title>CuppedCoffee</title>
</head>
<body>
    <h1>Beans</h1>
        <ul>
            <% data.forEach(function(bean) { %>
                <li><%= bean.Bean %></li>
            <% }); %>
        </ul>
    
</body>
</html>